    .container {
        margin-top: 2%;
    }
    img {
        height: 420px;
        position: relative;
    }
    #wat_logo {
      height: 168px;
      margin-top: 15%;
    }
    #btn_random {
      align-self: center;
      width:13em;
    }
    .card-deck {
        margin-top: 2%;
    }
    .card {
      width: 295px;
    }
    .card-body {
      height: 184px;

    }
    .checkBox{
      position:absolute;
      top: 10px;
      right: 10px;
    }
    .complete-img{
      position: absolute;
      width: 100%;
      height: 50%;
      top: 10%;
    }
    .mdl-dialog{
      width: 500px;
      height: 300px;
    }
    .input_review{
      text-align: center;
    }
    .reviewcss{
        border: 1px solid pink;
        margin: 1em;
        padding: 1em;
        line-height: 2em;
    }
    .title_review {
        display:inline-block;
        font-size:2em;
        padding: 0.5em;
    }
    .content_review {
        display:inline-block;
        font-size:1.5em;
        padding-left: 2em;
        margin-top:0.5em;
    }
    .modal-body {
        text-align: center;
    }
    #random_title {
        color:rgb(103, 61, 116);
    }
    .text1 {
        font-size:2em;
    }
    .text2 {
        font-size: 2em;
    }
    